.profile__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;

    .profile__con {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;

        .profile__box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 55%;
            box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 15px;
            border-radius: 5px;
            background-color: white;
            gap: 30px;
            padding: 30px;
            padding-bottom: 60px;

            @media screen and (max-width: 1024px) {
                width: 75%;
            }

            .profile__head {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 20px;
                background-color: inherit;

                img {
                    border-radius: 50%;
                    width: 150px;
                    background-color: white;
                }
            }

            .profile__infos {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                width: 100%;
                background-color: inherit;
                text-align: left;

                .profile__info {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: 100%;
                    padding: 20px 0px;

                    .profile__p1 {
                        width: 30%;
                        background-color: inherit;
                        padding-right: 2px;
                        font-size: 14px;
                    }

                    .profile__p2 {
                        width: 70%;
                        background-color: inherit;
                        padding-left: 5px;
                        font-size: 13px;
                    }
                }

                .odd {
                    background-color: #f6f6f6;
                }
            }
        }
    }
}