.details {
    width: 100%;
    background-color: rgb(245, 245, 245);
}

.overlay {
    background: linear-gradient(180deg, rgba(3, 6, 126, 0.85), rgba(122, 0, 147, 0.85));
    height: 350px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
}

.overlay {
    opacity: 0.8;
    position: absolute;
    height: 350px;
    width: 100%;
    background: linear-gradient(180deg, rgba(3, 6, 126, 0.85), rgba(122, 0, 147, 0.85));

}

.hero-about {
    background: url("../../../assets//detail/google.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    color: white;
}


.hero-title {
    font-size: 55px;
    margin-bottom: 10px;
}

.hero-text {
    font-size: 20px;
}


.main-panel {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 60px;
}

.container {
    width: 90%;
    margin: auto;
}

.card-panel {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    border-radius: 2px;
    padding: 5px;
    background-color: white;
    color: #777777;
}

.card-text {
    padding: 60px;
}

.card-text>span {
    font-size: 17px;
    color: #777777;
    font-weight: 500;
}

@media (min-width: 321px) and (max-width: 490px) {
    .hero-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .hero-title {
        font-size: 30px;
    }

    .hero-text {
        font-size: 18px;
        padding: 0 20px;
    }

    .hero {
        margin-bottom: 40px;
    }

    .hero-about {
        height: 220px;
    }

    .overlay {
        height: 220px
    }

    .container {
        width: 95%;
    }

    .card-text {
        padding: 25px;
    }

}

@media (max-width: 320px) {
    .container {
        width: 95%;
    }

    .overlay {
        height: 220px
    }
}

@media (min-width: 450px) {
    .container {
        width: 90%;
    }

}

@media only screen and (min-width: 993px) {
    .container {
        width: 70%;
    }
}

@media only screen and (min-width: 601px) {
    .container {
        width: 85%;
    }
}