.brand__container {
    background-color: #010121;
    z-index: 1000;
}

.brand__cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

.brand__img {
    width: 320px;
    height: 320px;
}

@media screen and (max-width: 1350px) {
    .brand__img {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 1020px) {
    .brand__img {
        width: 180px;
        height: 180px;
    }
}

@media screen and (max-width: 800px) {
    .brand__img {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 610px) {
    .brand__img {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 400px) {
    .brand__img {
        width: 70px;
        height: 70px;
    }
}
