.adv__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;

    .adv__con {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;

        .adv__box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 55%;
            box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 15px;
            border-radius: 5px;
            background-color: white;
            gap: 30px;
            padding: 30px;
            padding-bottom: 60px;

            @media screen and (max-width: 1024px) {
                width: 75%;
            }

            .adv__box__info {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                background-color: inherit;
                gap: 40px;

                .adv__info {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 10px;
                    width: 100%;
                    background-color: inherit;
                    text-align: left;

                    p {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        background-color: inherit;
                        color: gray;

                        span {
                            font-weight: 700;
                            background-color: inherit;
                            color: gray !important;
                        }

                        p {
                            background-color: inherit;
                        }
                    }
                }

                .adv__head {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    gap: 5px;
                    background-color: inherit;

                    h1 {
                        background-color: inherit;
                        font-size: 40px;
                        font-weight: 700;
                    }

                    p {
                        background-color: inherit;
                        color: gray;
                        font-size: 15px;

                        span {
                            background-color: inherit;
                            color: #0086dc;
                            font-weight: 500;
                        }
                    }
                }

                .adv__inputs {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    background-color: inherit;
                    width: 100%;

                    p {
                        background-color: inherit;
                        color: gray;
                        font-size: 15px;
                    }

                    .adv__input__div {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        background-color: inherit;
                        gap: 10px;

                        .adv__input__button {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            padding: 14px 30px;
                            border: 1.8px solid #0086dc;
                            border-radius: 3px;
                            background-color: inherit;
                            width: 15%;

                            @media screen and (max-width: 1200px) {
                                width: 20%;
                                padding: 12px 25px;
                            }

                            @media screen and (max-width: 1024px) {
                                width: 15%;
                            }

                            @media screen and (max-width: 650px) {
                                padding: 2px 20px;
                                text-align: center;
                            }

                            p {
                                background-color: inherit;
                                font-size: 13px;
                                font-weight: 400;
                                color: #0086dc;
                            }
                        }

                        .adv__input {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 15px 10px;
                            align-items: center;
                            background-color: white;
                            border-radius: 5px;
                            width: 85%;

                            @media screen and (max-width: 1200px) {
                                width: 80%;
                            }

                            @media screen and (max-width: 1024px) {
                                width: 85%;
                            }
                        }
                    }

                    .adv__button {
                        background-color: #0086dc !important;
                        width: 100%;
                        padding: 5px;

                        p {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}