.pricing__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 40px;
}

.pricing__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing__p {
    font-weight: 800;
}

.pricing__plans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.pricing__trading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    color: #26a69a;
    cursor: pointer;
}

.pricing__trading:hover {
    background-color: lightgray;
}

.pricing__mining {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    color: #26a69a;
    cursor: pointer;
}

.pricing__mining:hover {
    background-color: lightgray !important;
}

.pricing__plan__p {
    font-weight: 500;
    background-color: inherit;
}

.pricing__plan__p:hover {
    background-color: lightgray;
}