.withdrawal__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #f5f7fe;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.withdrawal__button__div {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.withdrawal__button {
    padding: 15px 40px;
    border-radius: 5px;
    border: none;
    background-color: #0086dc;
    color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.withdrawal__content__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 40px;
    width: 80%;
    font-size: 12px;
    border-radius: 15px;

    &:hover {
        background-color: #e0e0e0;
    }
}

.withdrawal__no__p {
    background-color: inherit;
}
