*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 245, 245);
}

.walform-con {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wal-form {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

.wal-form * {
    font-family: "DM Sans", sans-serif;
    color: #4a4a4a;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.wal-img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.wal-img>img {
    width: 50px;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 500;
}

.wal-input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(61, 56, 56, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #3f3a3a;
}

.wal-btn {
    margin-top: 50px;
    width: 100%;
    background-color: #cf2465;
    color: white;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: #26a69a;

    }
}


.walletlist-btn {
    &:hover {
        color: #cf2465;
        cursor: pointer;
    }
}

.walletlist-card-con {
    cursor: pointer;
}

.reg>a {
    text-decoration: none;
    color: #6e5ce4;
    font-weight: 600;
}

@media (min-width: 321px) and (max-width: 490px) {

    .wal-form {
        margin-top: 0px;
    }

}

@media (min-width: 321px) and (max-width: 490px) {

    .wal-form {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 90%;
        background-color: rgba(255, 255, 255, 0.13);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
        padding: 20px 15px;
    }

}